{% extends '../layout.html' %}



{% block content %}

<div class="mdl-cell mdl-cell--12-col">

	<div class="mdl-grid">

		<div class="mdl-cell--7-col">

			<div class="mdl-card mdl-shadow--2dp container-chat">
				<div class="mdl-card__title mdl-card--expand container-messages">

					<div class="mdl-grid container-conversation">

						<div class="mdl-cell--12-col">
							<ul class="mdl-list">

								<div class="mdl-card mdl-card--border card-message">
									<div class="mdl-card__supporting-text">
										<li class="mdl-list__item mdl-list__item--three-line">

											<span class="mdl-list__item-primary-content">
												<i class="material-icons mdl-list__item-avatar">mood</i>
												<span>Bryan Cranston</span>
												<span class="mdl-list__item-text-body">
													Hola
												</span>
											</span>


										</li>
									</div>
								</div>
							</ul>
						</div>

					</div>

				</div>
				<div class="mdl-card__actions mdl-card--border container-actions">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
						<input class="mdl-textfield__input" type="text" id="sample3">
						<label class="mdl-textfield__label" for="sample3">Escribe tu mensaje...</label>
					</div>
					<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--primary mdl-button--mini-fab">
						<i class="material-icons">send</i>
					</button>
				</div>
			</div>

		</div>

		<div class="mdl-cell--5-col">
			<div class="mdl-card mdl-shadow--2dp container-user">

				<div class="mdl-card__title mdl-card--expand">

					<div class="mdl-grid container-user-online">

						<div class="mdl-cell--12-col">
							<ul class="mdl-list" id="usuarios">

								{% for user in users %}

								<li class="mdl-list__item ">
									<span class="mdl-list__item-primary-content">
										<i class="material-icons mdl-list__item-avatar">mood</i>
										<span>{{user.name}}</span>
									</span>
									<span class="mdl-list__item-secondary-content">
										<span class="mdl-list__item-secondary-info">Online</span>
										<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">computer</i></a>
									</span>
								</li>

								{% endfor %}

								
							</ul>
						</div>
					</div>
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">close</i> Salir
					</button>
				</div>
			</div>
		</div>

	</div>

</div>

<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script>
	var socket = io();

	var user = '{{name}}';

	if(user != "")
	{
		$(document).on('ready',function(){

			var datos = {
				name : '{{name}}',
				foto : '{{foto}}'
			};
			socket.emit('nuevo usuario',datos);

		});

		socket.on('devolviendo usuario',function(data){
			var html = '<li class="mdl-list__item "><span class="mdl-list__item-primary-content"><i class="material-icons mdl-list__item-avatar">mood</i><span>' +data.name+'</span></span><span class="mdl-list__item-secondary-content"><span class="mdl-list__item-secondary-info">Online</span><a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">computer</i></a></span></li>';
			$('#usuarios').append(html);
		});
	}

</script>
{% endblock %}